@media screen and (max-width: 425px){
 

    form{
        width: 300px;
    }
    img {
        width: 200px;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    img {
        width: 200px;
        margin-bottom: 2rem;
    }

    form{
        width: 600px;
    }
}

@media screen and (min-width:1024px) {
    img {
        width: 200px;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px){
    img {
        width: 200px;
        margin-bottom: 2rem;
    }
}