
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
    --cor-primaria: #353535;
    --cor-secundaria: #f8f9fa;
    --cor-bg:#f4f3ee;
    --cor-auxiliar: #bababa;
}



*{
    box-sizing: border-box;
}

body {
    background-color: var(--cor-bg);
    /* color: rgb(0, 0, 0); */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
    color: var(--cor-primaria);
    font-size: 2rem;
    text-align: center;
    opacity: 0.4;
}
img {
    width: 20vw;
    margin-top: 3rem;
}

.book{
    width: 19rem;
    margin: 5rem;
}

form{
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    color: var(--cor-primaria);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder{
    color: var(--cor-auxiliar);
    text-align: center;
}


.todos {
    background-color: var(--cor-secundaria);
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;

}

.todos li {
    border-top:1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small{
    color: #000000c4;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
h4{
    text-align: center;
    text-decoration: underline;
}

.rodape{
    padding: 10rem  3rem 0;
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.titulo__social {
    font-size: .8em;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: var(--cor-auxiliar);
}
a {
    text-decoration: none;
}